<a href="http://nwdigitalradio.com" target="new"><img src="/apple-icon-120x120.png" class="logo"/></a>
<ul class="menu">
	<li><a href="/">Home</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/udrc">Repeater</a></li>
	<li><a href="/ircddbgateway">Gateway</a></li>
	<li><a href="/commands">Commands</a></li>
	<li><a href="/users">User Account</a></li>
	<li><a href="/logout">Logout</a></li>
</ul>
